{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{- $baseurl := .Site.BaseURL }}
<article class="post">

    <header>
        <p class="footnote">
            <time>{{ .Date.Format "2006-01-02" }}</time>
            {{- if or .Params.tags .Params.categories .Params.series }}
            |  <!-- Print a separator -->
            {{- end }}

            {{- if isset .Params "tags" }}
            tags: {{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            {{- end }}

            {{- if isset .Params "categories" }}
            categories: {{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
            {{- end }}

            {{- if isset .Params "series" }}
            series: {{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
            {{- end }}
        </p>
        <p><a href="{{ $baseurl }}md/{{ .File.LogicalName | urlize }}">raw</a></p>

        <h1>{{ .Title }}</h1>

        <div id="toc">
            {{ .TableOfContents }}
        </div>
    </header>

    <section class="content">
        {{ .Content }}
    </section>
</article>
{{ partial "footer.html" . }}
